<%= form_for(@payment_method) do |f| %>
  <% if @payment_method.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment_method.errors.count, "error") %> prohibited this payment_method from being saved:</h2>

      <ul>
      <% @payment_method.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name_on_card, :placeholder => "Name on credit card"  %>
  </div><br/>
  <div class="field">
    <%= f.date_select :expiration_date, :start_year => @startYear, :end_year => @endYear, :discard_day => true, :add_month_numbers => true %>
  </div><br/>
  <div class="field">
    <%= f.text_field :security_code, :placeholder => "Security Code" %>
  </div><br/>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>