<script type="text/javascript">
$(document).ready(function () {
    $('#cause-carousel').carousel({
        interval: 5000
    });

    // $('#cause-carousel').carousel('cycle');
});
</script> 



<div id="cause-carousel" class="carousel slide" data-ride="carousel">
	<!-- 
	Before inner, add ordered list, to create those little radioish buttons for selecting a 
	particular slide
	 -->
	<ol class="carousel-indicators">
		<% @all_causes.each_with_index do |cause, index| %>
			<% if index == 1 %>
	    		<li data-target="#cause-carousel" data-slide-to="<%= index %>" class="active"></li>
    		<% else %>
    			<li data-target="#cause-carousel" data-slide-to="<%= index %>"></li>
			<% end %>
	    <% end %>
  	</ol>	 
	<div class="carousel-inner">
	<% @all_causes.each_with_index do |cause, index| %>
		<% if index == 1 %>
		<div class="item active">
		<% else %>
		<div class="item">
		<% end %>
			<%= link_to 'Donate Now', :controller => "donations", :action => "new", :cause_id => cause.id %>
			<%= image_tag cause.cause_image.url(:carousel_image) %>
			<div class="carousel-caption">
				<p><%= cause.mission_description %></p>
			</div>
		</div>
		<% end %>
	</div> <!-- Carousel innards here for each item's image and description -->

	<a class="carousel-control left" href="#cause-carousel" data-slide="prev">&lsaquo;</a>
	<a class="carousel-control right" href="#cause-carousel" data-slide="next">&rsaquo;</a>
</div>