<%= form_for(@cause, :html => {:multipart => true}) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :cause_image %><br>
    <%= f.file_field :cause_image %>
    <%= f.label :remote_cause_image_url %><br>
    <%= f.text_field :remote_cause_image_url %>    
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :zip %><br>
    <%= f.number_field :zip %>
  </div>
  <div class="field">
    <%= f.label :monthly_sponsorship %><br>
    <%= f.text_field :monthly_sponsorship %>
  </div>
  <div class="field">
    <%= f.label :employer_identification_number %><br>
    <%= f.number_field :employer_identification_number %>
  </div>
  <div class="field">
    <%= f.label :mission_description %><br>
    <%= f.text_area :mission_description %>
  </div>
  <div class="field">
    <%= f.label :cause_category_id %><br>
    <%= f.number_field :cause_category_id %>
  </div>
  <div class="field">
    <%= f.label :executive_id %><br>
    <%= f.number_field :executive_id %>
  </div>
  <div class="field">
    <%= f.label :phone_number_id %><br>
    <%= f.number_field :phone_number_id %>
  </div>
  <div class="field">
    <%= f.label :contact_email %><br>
    <%= f.text_field :contact_email %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
