<h1>Listing causes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Monthly sponsorship</th>
      <th>Employer identification number</th>
      <th>Mission description</th>
      <th>Cause category</th>
      <th>Executive</th>
      <th>Phone number</th>
      <th>Contact email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @causes.each do |cause| %>
      <tr>
        <td><%= cause.name %></td>
        <td><%= cause.city %></td>
        <td><%= cause.state %></td>
        <td><%= cause.zip %></td>
        <td><%= cause.monthly_sponsorship %></td>
        <td><%= cause.employer_identification_number %></td>
        <td><%= cause.mission_description %></td>
        <td><%= cause.cause_category_id %></td>
        <td><%= cause.executive_id %></td>
        <td><%= cause.phone_number_id %></td>
        <td><%= cause.contact_email %></td>
        <td><%= link_to 'Show', cause %></td>
        <td><%= link_to 'Edit', edit_cause_path(cause) %></td>
        <td><%= link_to 'Destroy', cause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cause', new_cause_path %>
