<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @cause.cause_image_url.to_s %>
</p>

<p>
  <strong>Name:</strong>
  <%= @cause.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @cause.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @cause.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @cause.zip %>
</p>

<p>
  <strong>Monthly sponsorship:</strong>
  <%= @cause.monthly_sponsorship %>
</p>

<p>
  <strong>Employer identification number:</strong>
  <%= @cause.employer_identification_number %>
</p>

<p>
  <strong>Mission description:</strong>
  <%= @cause.mission_description %>
</p>

<p>
  <strong>Cause category:</strong>
  <%= @cause.cause_category_id %>
</p>

<p>
  <strong>Executive:</strong>
  <%= @cause.executive_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @cause.phone_number_id %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @cause.contact_email %>
</p>

<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
