<%= form_for(@billing_address) do |f| %>
  <% if @billing_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@billing_address.errors.count, "error") %> prohibited this billing_address from being saved:</h2>

      <ul>
      <% @billing_address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= select_tag :country, options_from_collection_for_select(@statesUS, "name", "name") %>

  <div class="field">
    <%= f.text_field :address1, :placeholder => "Mailing Address Line 1"%>
    <%= f.text_field :address2, :placeholder => "Mailing Address Line 2"%>
  </div>

  <div class="field">
    <%= f.text_field :city, :placeholder => "City"%>
    <%= f.select :country, options_for_select(@statesUS.map{ |state| state.name}) %>
  </div><br/>

  <div class="field">
    <%= f.text_field :zip, :placeholder => "Posta/Zip Code"%>
    <%= f.select :country, options_for_select(@allCountires.map{ |state| state.name}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>