<h1>Listing billing_addresses</h1>

<table>
  <thead>
    <tr>
      <th>Donator</th>
      <th>Main contact</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Country</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @billing_addresses.each do |billing_address| %>
      <tr>
        <td><%= billing_address.donator_id %></td>
        <td><%= billing_address.main_contact %></td>
        <td><%= billing_address.address1 %></td>
        <td><%= billing_address.address2 %></td>
        <td><%= billing_address.city %></td>
        <td><%= billing_address.state %></td>
        <td><%= billing_address.zip %></td>
        <td><%= billing_address.country %></td>
        <td><%= link_to 'Show', billing_address %></td>
        <td><%= link_to 'Edit', edit_billing_address_path(billing_address) %></td>
        <td><%= link_to 'Destroy', billing_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Billing address', new_billing_address_path %>
