<p id="notice"><%= notice %></p>

<p>
  <strong>Donator:</strong>
  <%= @billing_address.donator_id %>
</p>

<p>
  <strong>Main contact:</strong>
  <%= @billing_address.main_contact %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @billing_address.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @billing_address.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @billing_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @billing_address.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @billing_address.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @billing_address.country %>
</p>

<%= link_to 'Edit', edit_billing_address_path(@billing_address) %> |
<%= link_to 'Back', billing_addresses_path %>
