<%= form_for(@donation) do |f| %>
  <% if @donation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donation.errors.count, "error") %> prohibited this donation from being saved:</h2>

      <ul>
      <% @donation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if !@cause.blank? %>
    <!-- thumbnail and header and make cause_id hidden value -->
    <%= image_tag @cause.cause_image.url(:thumb) %>
    <div class="field">
      <h2><%= @cause.name %></h2>
    </div>
  <% else %>
    <% f.text_field :cause_id, :value => @cause_id %>
    <div class="field">
      <%= f.label :cause %><br>
      <%= f.text_field :cause_id, :value => @cause_id %>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :donation_amount %><br>
    <%= f.text_field :donation_amount %>
  </div>
  <div class="field">
    <%= f.label :payment_method_id %><br>
    <%= f.number_field :payment_method_id %>
  </div>

  <div class="field">
    <%= f.label :donation_recurrence %><br>
    <%= f.select :donation_recurrence, options_for_select(@recurrenceOptions) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<!-- 
:donation_date => Time.now

 -->
