<p id="notice"><%= notice %></p>

<p>
  <strong>Donator:</strong>
  <%= @donation.donator_id %>
</p>

<p>
  <strong>Donation amount:</strong>
  <%= @donation.donation_amount %>
</p>

<p>
  <strong>Donation date:</strong>
  <%= @donation.donation_date %>
</p>

<p>
  <strong>Recurrence:</strong>
  <%= @donation.donation_recurrence %>
</p>

<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
